body {
  background-color: #d65a31;
  color: #4390bc;
  text-align: center;
}

nav img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: transparent;
  margin-left: 60px;
}

a {
    margin: 0 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

hr {
  border: 6px dotted #eee;
  border-bottom: none;
  width: 50%;
  opacity: 0.3;

  margin: 0 auto;
}

.header {
  background-color: #222831;
  border-width: 2rem 2rem 0 2rem;
  border-style: solid;
  border-color: #eee;
  border-radius: 50px 50px 0 0;
  margin: 3px 3px 0 3px;
}

.navigation {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.navigation li {
  width: 50%;
  margin: 5px 20px;
}

.profile h2 {
  margin: 80px auto 30px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  color: #d65a31;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.name {
  color: #d65a31;
  font-weight: 600;
}

.intro {
  width: 40%;
  margin: 50px auto 100px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #eee;
  letter-spacing: 3px;
  line-height: 2;
}

.make-things {
  background-color: #d65a31;
}

.make-a-dif {
  text-decoration: underline;
  text-decoration-color: #d65a31;
  text-underline-position: below;
}

/* MIDDLE CONTAINER */

.middle-container-skills {
  background-color: #222831;
  margin: 0 auto 0;
  border-width: 0 2rem 0 2rem;
  border-style: solid;
  border-color: #eee;
  margin: 0 3px 0 3px;
}

.middle-container-skills h2 {
  margin: 0px auto 0px auto;
  padding: 100px 0 30px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #d65a31;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.middle-container-skills h3 {
  margin: 10px auto 50px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #eee;
  letter-spacing: 3px;
}



.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 50px auto 0 auto;
}

.skills-block {
  padding-bottom: 50px;
}

.skill-img {
  width: 20%;
}

.meetdog {
  width: 60%;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  background-color: #222831;
  margin: 0px auto;
  padding-top: 100px;
  border: 2rem solid #eee;
  border-radius: 0 0 50px 50px;
  border-top: none;
  margin: 0 3px 3px 3px;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #d65a31;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contact-me h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #d65a31;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contact-me h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3;
  color: #eee;
  letter-spacing: 3px;
}

.contact-me p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #eee;
  letter-spacing: 3px;
  line-height: 3;
}

.btn {
  background: #d65a31;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 200px;
  height: 45px;
  margin: 40px auto 50px;
}

.btn:hover {
  text-decoration: none;
}

.btn a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #eee;
  padding: 20px 0 0 0;
}

/* BOTTOM CONTAINER */

.bottom-container {
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #eee;
  padding: 0 20px;
}

.footer-link:hover {
  text-decoration: none;
  color: #d65a31;
}

.bottom-container p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
  color: #eee;
}

@media (max-width: 500px) {
  .brand-img {
    width: 75px;
    height: 75px;
    margin-left: 0px;
  }

  .navigation li {
    width: 100%;
  }

  .intro {
    width: 95%;
    font-size: 1rem;
    font-weight: 400;
    color: #eee;
    letter-spacing: 2px;
    line-height: 2;
  }

  .profile h2 {
    font-size: 5rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 50px auto 0 auto;
  }

  .contact-me {
    width: 95%;
  }

  .contact-me h2 {
    font-size: 2rem;
  }

  .contact-me h3 {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
  }

  .contact-me p {
    line-height: 2.5;
  }

}

@media (max-width: 960px) {
  .brand-img {
    margin-left: 0px;
  }

  .intro {
    width: 60%;
    font-size: 1rem;
    font-weight: 400;
    color: #eee;
    letter-spacing: 2px;
    line-height: 2;
  }


  .skills {
    display: flex;
    flex-direction: column;
  }

  .contact-me {
    width: 60%;
  }

}
